@charset "UTF-8";
$font-family:"微軟正黑體";
$slid-color:white;


$styles: 
default #CCC #BBB #AAA #999 #888 #E1E1E1 white ,
primary #D3ECF1 #42B0CB #1E9DC8 #0C94AA #1B7592 #E1E1E1 white,
success #b4eddf #5cd8b9 #54c5a9 #439e87 #337665 #E1E1E1 white,
info #f7f2d7 #e3d26f #baac5b #7c733d #534d29 #E1E1E1 white,
warning #ebcfb2 #fb9678 #f97f59 #895737 #5e3023 #E1E1E1 white,
danger #edb2b4 #df7276 #d33e43 #73232f #650d1b #E1E1E1 white,
inverse #8d939e #4c5667 #3f4755 #313742 #292E37 #E1E1E1 white,
dark #9d9d9d #797979 #646464 #4e4e4e #2B2B2B #E1E1E1 white;