@charset "UTF-8";
html body.customer {
  width: 100%;
  height: 100%;
  font-family: "微軟正黑體";
  background-color: #D3ECF1;
  border: 0px;
  padding: 0;
  margin: 0;
  overflow: auto; }
  html body.customer .pos-f-t-primary {
    width: 100%; }
    html body.customer .pos-f-t-primary .navbar {
      width: 100%; }
      html body.customer .pos-f-t-primary .navbar h3 {
        width: 100%;
        text-align: left;
        color: white;
        text-align: center; }
      html body.customer .pos-f-t-primary .navbar form {
        position: absolute;
        z-index: 999; }
  html body.customer .mainContainer {
    width: 100%; }
    html body.customer .mainContainer #productList .row {
      width: 100%;
      margin: 0 auto; }
      html body.customer .mainContainer #productList .row div {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center; }
      html body.customer .mainContainer #productList .row div.col {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px; }
    html body.customer .mainContainer #productDetail .row {
      margin-bottom: 10px; }
      html body.customer .mainContainer #productDetail .row .col {
        height: 100%;
        margin: 0 auto;
        text-align: center; }
        html body.customer .mainContainer #productDetail .row .col img {
          width: 80%;
          margin: 0 auto; }
    html body.customer .mainContainer #orderCart .row {
      width: 100%;
      margin: 0 auto; }
      html body.customer .mainContainer #orderCart .row div.col-8, html body.customer .mainContainer #orderCart .row div.col-1, html body.customer .mainContainer #orderCart .row div.col-2 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center; }
      html body.customer .mainContainer #orderCart .row div.col {
        text-align: center; }
    html body.customer .mainContainer #customerOrderRecord .list-group .list-group-item .collapse, html body.customer .mainContainer #customerOrderRecord .list-group .list-group-item .collapsing {
      width: 100%; }
      html body.customer .mainContainer #customerOrderRecord .list-group .list-group-item .collapse .table, html body.customer .mainContainer #customerOrderRecord .list-group .list-group-item .collapsing .table {
        width: 100%;
        margin-bottom: 0; }
    html body.customer .mainContainer #storeList .card {
      margin-bottom: 10px; }
    html body.customer .mainContainer #storeDetail .row {
      margin-bottom: 0;
      width: 100%; }
      html body.customer .mainContainer #storeDetail .row .col {
        height: 100%;
        width: auto;
        margin: 0 auto;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px; }
        html body.customer .mainContainer #storeDetail .row .col img {
          width: 80%;
          margin: 0 auto; }
        html body.customer .mainContainer #storeDetail .row .col a {
          margin-bottom: 10px;
          margin-top: 10px; }
      html body.customer .mainContainer #storeDetail .row .col-12 + .col-sm-4 label h5 {
        font-weight: bold; }
      html body.customer .mainContainer #storeDetail .row .col-12 + .col-sm-8 {
        color: #0D2149; }

.pos-f-t-default .navbar {
  background-color: #AAA; }
  .pos-f-t-default .navbar .navbar-toggler {
    border: 1px solid #888;
    padding: 6px 12px; }
    .pos-f-t-default .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-default .navbar .navbar-toggler:hover {
      background-color: #888; }
  .pos-f-t-default .navbar #setTime {
    color: white;
    border: 1px solid #888; }
    .pos-f-t-default .navbar #setTime:hover {
      background-color: #888; }

.pos-f-t-default .collapse, .pos-f-t-default .collapsing {
  background-color: #888; }
  .pos-f-t-default .collapse .p-4, .pos-f-t-default .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-default .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-default .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-primary .navbar {
  background-color: #1E9DC8; }
  .pos-f-t-primary .navbar .navbar-toggler {
    border: 1px solid #1B7592;
    padding: 6px 12px; }
    .pos-f-t-primary .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-primary .navbar .navbar-toggler:hover {
      background-color: #1B7592; }
  .pos-f-t-primary .navbar #setTime {
    color: white;
    border: 1px solid #1B7592; }
    .pos-f-t-primary .navbar #setTime:hover {
      background-color: #1B7592; }

.pos-f-t-primary .collapse, .pos-f-t-primary .collapsing {
  background-color: #1B7592; }
  .pos-f-t-primary .collapse .p-4, .pos-f-t-primary .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-primary .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-primary .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-success .navbar {
  background-color: #54c5a9; }
  .pos-f-t-success .navbar .navbar-toggler {
    border: 1px solid #337665;
    padding: 6px 12px; }
    .pos-f-t-success .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-success .navbar .navbar-toggler:hover {
      background-color: #337665; }
  .pos-f-t-success .navbar #setTime {
    color: white;
    border: 1px solid #337665; }
    .pos-f-t-success .navbar #setTime:hover {
      background-color: #337665; }

.pos-f-t-success .collapse, .pos-f-t-success .collapsing {
  background-color: #337665; }
  .pos-f-t-success .collapse .p-4, .pos-f-t-success .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-success .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-success .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-info .navbar {
  background-color: #baac5b; }
  .pos-f-t-info .navbar .navbar-toggler {
    border: 1px solid #534d29;
    padding: 6px 12px; }
    .pos-f-t-info .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-info .navbar .navbar-toggler:hover {
      background-color: #534d29; }
  .pos-f-t-info .navbar #setTime {
    color: white;
    border: 1px solid #534d29; }
    .pos-f-t-info .navbar #setTime:hover {
      background-color: #534d29; }

.pos-f-t-info .collapse, .pos-f-t-info .collapsing {
  background-color: #534d29; }
  .pos-f-t-info .collapse .p-4, .pos-f-t-info .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-info .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-info .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-warning .navbar {
  background-color: #f97f59; }
  .pos-f-t-warning .navbar .navbar-toggler {
    border: 1px solid #5e3023;
    padding: 6px 12px; }
    .pos-f-t-warning .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-warning .navbar .navbar-toggler:hover {
      background-color: #5e3023; }
  .pos-f-t-warning .navbar #setTime {
    color: white;
    border: 1px solid #5e3023; }
    .pos-f-t-warning .navbar #setTime:hover {
      background-color: #5e3023; }

.pos-f-t-warning .collapse, .pos-f-t-warning .collapsing {
  background-color: #5e3023; }
  .pos-f-t-warning .collapse .p-4, .pos-f-t-warning .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-warning .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-warning .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-danger .navbar {
  background-color: #d33e43; }
  .pos-f-t-danger .navbar .navbar-toggler {
    border: 1px solid #650d1b;
    padding: 6px 12px; }
    .pos-f-t-danger .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-danger .navbar .navbar-toggler:hover {
      background-color: #650d1b; }
  .pos-f-t-danger .navbar #setTime {
    color: white;
    border: 1px solid #650d1b; }
    .pos-f-t-danger .navbar #setTime:hover {
      background-color: #650d1b; }

.pos-f-t-danger .collapse, .pos-f-t-danger .collapsing {
  background-color: #650d1b; }
  .pos-f-t-danger .collapse .p-4, .pos-f-t-danger .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-danger .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-danger .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-inverse .navbar {
  background-color: #3f4755; }
  .pos-f-t-inverse .navbar .navbar-toggler {
    border: 1px solid #292E37;
    padding: 6px 12px; }
    .pos-f-t-inverse .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-inverse .navbar .navbar-toggler:hover {
      background-color: #292E37; }
  .pos-f-t-inverse .navbar #setTime {
    color: white;
    border: 1px solid #292E37; }
    .pos-f-t-inverse .navbar #setTime:hover {
      background-color: #292E37; }

.pos-f-t-inverse .collapse, .pos-f-t-inverse .collapsing {
  background-color: #292E37; }
  .pos-f-t-inverse .collapse .p-4, .pos-f-t-inverse .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-inverse .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-inverse .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.pos-f-t-dark .navbar {
  background-color: #646464; }
  .pos-f-t-dark .navbar .navbar-toggler {
    border: 1px solid #2B2B2B;
    padding: 6px 12px; }
    .pos-f-t-dark .navbar .navbar-toggler i {
      color: white; }
    .pos-f-t-dark .navbar .navbar-toggler:hover {
      background-color: #2B2B2B; }
  .pos-f-t-dark .navbar #setTime {
    color: white;
    border: 1px solid #2B2B2B; }
    .pos-f-t-dark .navbar #setTime:hover {
      background-color: #2B2B2B; }

.pos-f-t-dark .collapse, .pos-f-t-dark .collapsing {
  background-color: #2B2B2B; }
  .pos-f-t-dark .collapse .p-4, .pos-f-t-dark .collapsing .p-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    .pos-f-t-dark .collapse .p-4 .navbar-nav .nav-item .nav-link, .pos-f-t-dark .collapsing .p-4 .navbar-nav .nav-item .nav-link {
      color: white; }

.container {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px; }
  .container #todayOrder {
    margin-top: -15px;
    height: 100%; }
    .container #todayOrder .nfcBar {
      position: fixed;
      z-index: 999;
      margin: -40px 100px 0px 100px;
      width: 80%;
      text-align: center; }
    .container #todayOrder .newOrdersBlock {
      margin: 0 auto;
      width: 100%; }
      .container #todayOrder .newOrdersBlock .newOrder {
        margin: 0 5px;
        margin-top: 10px;
        background-color: white;
        border-radius: 5px;
        float: left; }
    .container #todayOrder .ordersBlock {
      margin: 0 auto;
      margin-top: 10px;
      height: 100%; }
      .container #todayOrder .ordersBlock .doingOrdersBlock {
        float: left; }
        .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div {
          height: 100%; }
          .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder {
            float: left; }
            .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-header {
              height: auto;
              margin-bottom: 0px; }
            .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-block {
              margin-left: 5px;
              margin-right: 5px;
              padding: 0;
              height: auto;
              overflow-y: auto; }
              .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-block .RemarkList {
                height: auto; }
              .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-block .RemarkGroup {
                height: auto; }
              .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-block .RemarkCustomer {
                height: auto; }
            .container #todayOrder .ordersBlock .doingOrdersBlock .carousel-caption div .doingOrder .card .card-footer {
              height: auto; }
      .container #todayOrder .ordersBlock .searchOrderBlock {
        float: right;
        margin: 0 auto;
        height: auto;
        background-color: #FFD400; }
        .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder {
          height: 90%; }
          .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card {
            height: 100%; }
            .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-header {
              height: auto;
              margin-bottom: 0px; }
            .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-block {
              margin-left: 5px;
              margin-right: 5px;
              padding: 0;
              height: auto;
              overflow-y: auto; }
              .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-block .RemarkList {
                height: auto; }
              .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-block .RemarkGroup {
                height: auto; }
              .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-block .RemarkCustomer {
                height: auto; }
            .container #todayOrder .ordersBlock .searchOrderBlock .searchOrder .card .card-footer {
              height: auto; }
  .container #myMenu table tbody tr td img {
    height: 100px; }

#loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%; }
  #loginPage #loginForm {
    background: white;
    width: 60%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    font-family: lato;
    position: relative;
    color: #333;
    border-radius: 10px; }
    #loginPage #loginForm header {
      background: #1E9DC8;
      padding: 15px 20px;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
      border-radius: 10px 10px 0 0; }
    #loginPage #loginForm .form-group label {
      margin-left: 20px;
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 5px;
      position: relative;
      text-align: left; }
      #loginPage #loginForm .form-group label span {
        color: red;
        font-size: 2em;
        position: absolute;
        left: 2.3em;
        top: -10px; }
    #loginPage #loginForm .form-group input {
      display: block;
      width: 78%;
      margin-left: 20px;
      padding: 5px 20px;
      font-size: 1em;
      border-radius: 3px;
      outline: none;
      border: 1px solid #ccc; }
    #loginPage #loginForm footer {
      margin: 0 auto;
      text-align: center; }
      #loginPage #loginForm footer button {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px; }
  #loginPage .modal .modal-dialog {
    height: 100%; }
    #loginPage .modal .modal-dialog .modal-content .modal-body {
      padding-top: 0px;
      padding-right: 0px; }
      #loginPage .modal .modal-dialog .modal-content .modal-body .form-group {
        margin-bottom: 0px; }
        #loginPage .modal .modal-dialog .modal-content .modal-body .form-group label {
          margin-left: 20px;
          display: inline-block;
          margin-top: 30px;
          margin-bottom: 5px;
          position: relative;
          text-align: left; }
          #loginPage .modal .modal-dialog .modal-content .modal-body .form-group label span {
            color: red;
            font-size: 2em;
            position: absolute;
            left: 2.3em;
            top: -10px; }
        #loginPage .modal .modal-dialog .modal-content .modal-body .form-group input {
          display: block;
          width: 78%;
          margin-left: 20px;
          padding: 5px 20px;
          font-size: 1em;
          border-radius: 3px;
          outline: none;
          border: 1px solid #ccc; }

.table caption {
  caption-side: top;
  text-align: center;
  color: black; }

.table thead tr th {
  text-align: center;
  vertical-align: middle; }

.table tbody tr td, .table tfoot tr td {
  text-align: center;
  vertical-align: middle; }
  .table tbody tr td select, .table tfoot tr td select {
    padding: 5px 15px;
    border-radius: 5px; }
  .table tbody tr td input, .table tfoot tr td input {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15); }

.table tfoot #ordersRemark td {
  color: red;
  font-weight: bold; }

.pagination .page-item .page-link {
  background-color: transparent;
  border: none; }

.carousel {
  height: 100%; }
  .carousel .carousel-indicators {
    bottom: -20px; }
    .carousel .carousel-indicators .active {
      background-color: #1B7592; }
  .carousel .carousel-inner {
    height: 99%; }
    .carousel .carousel-inner .carousel-item {
      height: 100%; }
      .carousel .carousel-inner .carousel-item img {
        opacity: 0; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        height: 100%;
        color: black;
        position: absolute;
        right: 0%;
        bottom: 0px;
        top: 0px;
        left: 0%;
        z-index: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center; }
  .carousel .carousel-control-prev {
    left: -80px; }
  .carousel .carousel-control-next {
    right: -85px; }

.modal .modal-dialog .modal-content .modal-header, .modal .modal-dialog .modal-content .modal-body, .modal .modal-dialog .modal-content .modal-footer {
  width: 100%; }

.card {
  margin-bottom: 0px; }
  .card .card-header, .card .card-body, .card .card-footer {
    width: 100%; }

form input, .form-group input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15); }

html {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0; }
  html body {
    width: 100%;
    height: 100%;
    font-family: "微軟正黑體";
    background-color: #D3ECF1;
    border: 0px;
    padding: 0;
    margin: 0; }
    html body .pos-f-t {
      width: 100%;
      height: 10%;
      margin: 0 auto; }
    html body .mainContainer {
      width: 100%;
      height: 90%;
      margin: 0 auto; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      margin: 0 auto;
      text-align: center; }
