
@{
    ViewBag.Title = "OrderSalesRecord";
    Layout = "~/Views/_StoreLayout.cshtml";
}


<style>
    .hide-calendar .ui-datepicker-calendar {
        display: none;
    }

    .hide-month .ui-datepicker-month {
        display: none;
    }
</style>

<script src="../script/orderSalesRecord.js" type="text/javascript"></script>
<script src="../script/dateCommon.js" type="text/javascript"></script>


<div class="mainContainer">
    <div class="container">
        <div id="orderRecord">
            <h3>業績報表</h3>
            <br>
            <div>
                <a class="btn btn-primary" href="../Store/OrderHistory">返回歷史訂單</a>
                <a class="btn btn-primary" href="../Store/OrderItemRecord">各品項銷售分析</a>
            </div>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#daySales" role="tab">日業績狀況</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#monthSales" role="tab">月業績狀況</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#yearSales" role="tab">年業績狀況</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="daySales" role="tabpanel">
                    <br>
                    <div class="row">
                        <div class="col">
                            選擇日期 : <input id="selectDay_OrderSalesRecord" class="date-picker" data-calendar="true" onchange="getDataByDay()" />
                        </div>
                        <div id="lastQuarterSalesAmountByDay_OrderSalesRecord" class="col"></div>
                        <div id="currentQuarterSalesAmountByDay_OrderSalesRecord" class="col"></div>
                        <div id="growthByDay_OrderSalesRecord" class="col"></div>
                    </div>
                    <br>
                    <table id="dailyTable_OrderSalesRecord" class="table table-sm"></table>
                </div>
                <div class="tab-pane" id="monthSales" role="tabpanel">
                    <br>
                    <div class="row">
                        <div class="col">
                            選擇月份 : <input id="selectMonth_OrderSalesRecord" class="date-picker" data-calendar="false" />
                        </div>
                        <div id="lastQuarterSalesAmountByMonth_OrderSalesRecord" class="col"></div>
                        <div id="currentQuarterSalesAmountByMonth_OrderSalesRecord" class="col"></div> 
                        <div id="growthByMonth_OrderSalesRecord" class="col"></div> 
                    </div>
                    <br>
                    <table id="monthlyTable_OrderSalesRecord" class="table table-sm" ></table>
                </div>
                <div class="tab-pane" id="yearSales" role="tabpanel">
                    <br>
                    <div class="row">
                        <div class="col">
                            選擇年份 : <input id="selectYear_OrderSalesRecord" class="date-picker" data-calendar="false" />
                        </div>
                        <div id="lastQuarterSalesAmountByYear_OrderSalesRecord" class="col"></div>
                        <div id="currentQuarterSalesAmountByYear_OrderSalesRecord" class="col"></div>
                        <div id="growthByYear_OrderSalesRecord" class="col"></div>
                    </div>
                    <br>
                    <table id="yearlyTable_OrderSalesRecord" class="table table-sm" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    @*var cookie;
    $(document).ready(function () {
        cookie = checkAndGetCookie();
        //$('#dailyTable_OrderSalesRecord').DataTable();
        //$('#monthlyTable_OrderSalesRecord').DataTable();
        //$('#yearlyTable_OrderSalesRecord').DataTable();
    });

    $(function () {
        $('#selectDay_OrderSalesRecord').datepicker({
            dateFormat: 'yy-mm-dd',
            beforeShow: function (el, dp) {
                hideDateElement(false, false);
            }
            //onClose: function (dateText, inst) {
            //    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            //    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            //    var day = $("#ui-datepicker-div .ui-datepicker-day :selected").val();
            //    $(this).datepicker('setDate', new Date(year, month, day, 1));
            //}
        });

        $('#selectMonth_OrderSalesRecord').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm',
            beforeShow: function (el, dp) {
                hideDateElement(true, false);
            },
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
                getDataByMonth();
            }
        });

        $('#selectYear_OrderSalesRecord').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy',
            beforeShow: function (el, dp) {
                hideDateElement(true, true);
            },
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
                getDataByYear();
            }
        });

    });

    function hideDateElement(boo1, boo2) {
        $('#ui-datepicker-div').toggleClass('hide-calendar', boo1);
        $('#ui-datepicker-div').toggleClass('hide-month', boo2);
    }

    function getDataByDay() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("../Order/GetOrderSalesRecordsByDay")',
            data: {
                StoreID: cookie,
                day: $('#selectDay_OrderSalesRecord').val()
            },
            success: function (result) {
                genOrderItemRecordsDataTable('#dailyTable_OrderSalesRecord', "時間", result);
                judgeEmptyData(result, "#lastQuarterSalesAmountByDay_OrderSalesRecord", "#currentQuarterSalesAmountByDay_OrderSalesRecord",
                    "昨日總銷售量", "今日總銷售量", "#growthByDay_OrderSalesRecord");
            },
            error: function () { alert("Error"); }
         });
        }
        function getDataByMonth() {
         $.ajax({
            type: 'post',
            url: '@Url.Action("../Order/GetOrderSalesRecordsByMonth")',
            data: {
                StoreID: cookie,
                month: $('#selectMonth_OrderSalesRecord').val()
            },
            success: function (result) {
                genOrderItemRecordsDataTable('#monthlyTable_OrderSalesRecord', "日期", result);
                judgeEmptyData(result, "#lastQuarterSalesAmountByMonth_OrderSalesRecord", "#currentQuarterSalesAmountByMonth_OrderSalesRecord",
                    "上月總銷售量", "本月總銷售量", "#growthByMonth_OrderSalesRecord");
            },
            error: function () { alert("Error"); }
         });
    }

        function getDataByYear() {
             $.ajax({
                type: 'post',
                url: '@Url.Action("../Order/GetOrderSalesRecordsByYear")',
                data: {
                    StoreID: cookie,
                    year: $('#selectYear_OrderSalesRecord').val()+"-"+"11" //TODO 暫時用這樣(後面要接月份 後端才會認為是日期)
                },
                success: function (result) {
                    genOrderItemRecordsDataTable('#yearlyTable_OrderSalesRecord', "月份", result);
                    judgeEmptyData(result, "#lastQuarterSalesAmountByYear_OrderSalesRecord", "#currentQuarterSalesAmountByYear_OrderSalesRecord",
                        "去年總銷售量", "今年總銷售量", "#growthByYear_OrderSalesRecord");
                },
                error: function () { alert("Error"); }
             });
        }

        function genOrderItemRecordsDataTable(tableID, dataTitle, dataSet) {
            var table = $(tableID).DataTable({
                destroy: true,
                data: dataSet.salesRecordTableData,
                columns: [
                    { title: dataTitle, data: "DateOrTime" },
                    { title: "總金額", data: "PeriodTotalPric1e", render: $.fn.dataTable.render.number(',', '.', 0, '$ ') }
                ],
                lengthChange: false,
                pageLength: 10,
                select: true
            });
        }

        function judgeEmptyData(dataSet, lastQuarterID, currentQuarterID, lastQuarterName, currentQuarterName, growthID) {
            $(lastQuarterID).text(lastQuarterName + "：" + dataSet.LastQuarterSalesAmount);
            $(currentQuarterID).text(currentQuarterName + "：" + dataSet.CurrentQuarterSalesAmount);
            $(growthID).text("成長量：" + dataSet.Growth);
             // $(tableID).DataTable().clear().draw();
        }*@
</script>
